{% extends 'index.html' %}
{% block title %}Products{% endblock %}

{% block content %}


<div class="container">
    <div class="header">
        <img src="images/logo.png" alt="Логотип">
        <div class="shop_name">
            <strong>Магазин настольных игр "Сундук с сокровищами"</strong>
        </div>
        <ul class="menu">
            <li class="root"><a href="{% url 'index' %}">Главная</a></li>
            <li class="root">
                <a href="{% url 'catalog' %}">Каталог</a>
                <ul class="dropdown">
                    <li><a href="{% url 'karkasson' %}">Каркассон</a></li>
                    <li><a href="{% url 'machi_koro' %}">Мачи-Кро</a></li>
                    <li><a href="{% url 'manchkin' %}">Манчкин</a></li>
                </ul>
            </li>
            <li class="root"><a href="{% url 'contackts' %}">Контакты</a></li>
        </ul>
    </div>
    <hr>

    <h1>Каталог</h1>
    <div class="catalo_wrap">
        <div class="catalog_product_unit">
            <a href="{% url 'karkasson' %}">
                <img src="images/karkasson.jpg" alt="Каркассон" title="Настольная игра Каркассон" class="catalog_image">
                Каркассон</a>
        </div>
        <div class="catalog_product_unit">
            <a href="{% url 'karkasson' %}">
                <img src="images/karkasson.jpg" alt="Каркассон" title="Настольная игра Каркассон" class="catalog_image">
                Каркассон</a>
        </div>
        <div class="catalog_product_unit">
            <a href="{% url 'machi_koro' %}">
                <img src="images/machi-koro.jpg" alt="Мачи Коро" title="Настольная игра Мачи Коро"
                    class="catalog_image">
                Мачи Коро</a>
        </div>
        <div class="catalog_product_unit">
            <a href="{% url 'machi_koro' %}">
                <img src="images/machi-koro.jpg" alt="Мачи Коро" title="Настольная игра Мачи Коро"
                    class="catalog_image">
                Мачи Коро</a>
        </div>
        <div class="catalog_product_unit">
            <a href="{% url 'manchkin' %}">
                <img src="images/manchkin.jpg" alt="Манчкин" title="Настольная игра Манчкин" class="catalog_image">
                Манчкин</a>
        </div>
        <div class="catalog_product_unit">
            <a href="{% url 'manchkin' %}">
                <img src="images/manchkin.jpg" alt="Манчкин" title="Настольная игра Манчкин" class="catalog_image">
                Манчкин</a>
        </div>
    </div>

    <hr>
</div>
{% endblock %}