{% extends 'index.html' %}
{% block title %}To Do{% endblock %}

{% block content %}



<div class="container">
    <img style="background-color:white; border-radius: 20%;" width="80px" height="40px"
        src="https://icon-library.com/images/coat-icon/coat-icon-16.jpg" alt="Логотип">
    <ul class="menu">
        <li class="root"><a href="{% url 'index' %}">Home</a></li>
        <li class="root">
            <a href="{% url 'catalog' %}">Products</a>
            <ul class="dropdown">
                <li><a href="{% url 'contackts' %}">For boys</a></li>
                <li><a href="{% url 'contackts' %}">For girls</a></li>
                <li><a href="{% url 'contackts' %}">For babies</a></li>
            </ul>
        </li>
        <li class="root"><a href="{% url 'contackts' %}">Contacts</a></li>
    </ul>
</div>
<hr>

<fieldset>
    <div class="container">
        <div style="display: flex;flex-direction: column; text-align: center; border: 1px solid;" class="form-box">
            <h4 style="color:black;">Contact us</h4>
            <form action="/message/" method="POST">
                {% csrf_token%}
                <table class="table table-responsive d-table">
                    <tr>
                        <td><input type="text" name="name" class="form-control pl-0" placeholder="Name" />
                        </td>
                        <td><input type="email" name="email" class="form-control pl-0" placeholder="E-mail" /></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="text" name="address" class="form-control pl-0"
                                placeholder="Address" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="text" name="message" class="form-control pl-0"
                                placeholder="Message" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-center pl-0"><button type="submit"
                                class="btn btn-warning">Send</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</fieldset>

<h2>Наши контактные данные</h2>
<p>
    <strong>Адрес: </strong>Suðurgata, 41, Рейкьявик, Исландия <br>
    <strong>Телефон: </strong> +354 (354) 123-456 <br>
    <strong>Email: </strong>contact@shop.com <br>
</p>
<script type="text/javascript" charset="utf-8" async
    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A933ea6ad7d37c0e6d181bb01bf0e5d3e012cd58b8b0e957cfd86fc156d507af5&amp;width=100%25&amp;height=374&amp;lang=ru_RU&amp;scroll=true"></script>

<hr>
</div>
{% endblock %}