{% extends 'index.html' %}
{% block title %}To Do{% endblock %}

{% block content %}


<div class="container">
    <div style="display: flex; flex-direction: column;" class="boxx">
        <p style="display: flex; flex-direction: column;">
            <hr>
            <h3>Questions and answers</h3>
            <hr>
            <p>1. What are two things you can never eat for breakfast?</p>
            <hr>
<p>Lunch and Dinner</p>
<hr>
<p>2. What is always coming but never arrives? </p>
<hr>
<p>Tomorrow</p>
<hr>
<p>3. What gets wetter the more it dries? </p>
<hr>
<p>A towel</p>
<hr>
<p>4. What can be broken but never held? </p>
<hr>
<p>A promise</p>
<hr>
<p>5. What word is spelled incorrectly in every single dictionary?</p>
<hr>
<p>Incorrectly</p>
<hr>
<p>6. What is it that lives if it is fed, and dies if you give it a drink?</p>
<hr>
<p>Fire</p>
<hr>
<p>7. What never asks a question but gets answered all the time?</p>
<hr>
<p>Your cellphone</p>
<hr>
<p>8. What word would you use to describe a man who does not have all his fingers on one hand?</p>
<hr>
<p>Normal, because people usually have half their fingers on one hand.</p>
<hr>
<p>9. What goes up but never ever comes down?</p>
<hr>
<p>Your age</p>
<hr>
<p>10. What can one catch that is not thrown?</p>
<hr>
<p>A cold</p>
<hr>
        </p>
    </div>
</div>









{% endblock %}